<div class="container-home p-3">
  <app-message></app-message>

  <div *ngIf="isLoading()" class="h5 text-center">
    <i class="fas fa-spinner fa-spin"></i>
    <span class="ms-2">{{'home.loadingText' | translate}}</span>
  </div>

  <div *ngIf="!isLoading()">
    <img *ngIf="isDefaultEventNotFound()" src="{{imageDirectory}}/home.jpg" alt="logo" class="img-home-logo"/>
    <div *ngIf="isDefaultEventFound()">
      <div class="text-center">
        <a [routerLink]="['/information', 'events', 'event', eventPart.id]" class="text-dark">
          <img *ngIf="eventPart?.eventTypeLogoFileName" class="img-home-logo"
               src="{{eventsImageDirectory}}/{{eventPart.eventTypeLogoFileName}}" alt="logo"/>
        </a>
      </div>
      <div class="h4 text-center">
        <a [routerLink]="['/information', 'events', 'event', eventPart.id]" class="text-dark">
          {{eventPart.name}}
        </a>
      </div>
      <div class="text-center">
        <a [routerLink]="['/information', 'events', 'event', eventPart.id]" class="text-dark">
          {{eventDates}}
        </a>
      </div>
      <div class="text-center">
        <a [routerLink]="['/information', 'events', 'event', eventPart.id]" class="text-dark">
          {{eventPart.placeCity}}
        </a>
      </div>
    </div>

    <div class="row">
      <app-language-switcher class="col"></app-language-switcher>
    </div>

    <div class="d-grid gap-2 mt-2">
      <button class="btn btn-primary btn-lg" routerLink="/information">{{'home.informationButtonText' | translate}}</button>
      <button class="btn btn-primary btn-lg" routerLink="/game">{{'home.gameButtonText' | translate}}</button>
    </div>
  </div>
</div>

